.main {
  width: 70%;
  margin: 50px auto;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: rgb(144, 183, 120);
}

.md-button#button__edit {
  margin: 18px 0px !important;
}

#form__edit {
  margin-top: -38px;
}

.login-card   a {
  font-size: 12px;
}

md-content.login {
  background: url('../images/background.jpg');
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

md-content.login > .login-card {
  width: 40%;
  text-align: center;
}

md-content.login > .signup-card {  
  margin: 220px auto 0;
}

.docMapp__login__about {
  background-color: transparent;
  color: #fff;
  width: 60%;
  text-align: center;
  margin: 150px auto 20px;
}

button.doc__login__button {
  margin: 15px;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #fff;
  font-size: 14px;
  color: white;
  padding: 16px;
  border-radius: 28px;
  width: 130px;
}

button.doc__login__button:hover {
  background-color: rgba(144, 183, 120, 0.51);
  transition: 2s;
}

.home-link {
  padding: 4px;
}

.doc-text {
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;
  /*Chrome & Safari */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
  overflow-y: hidden;
}

.card {
  height: auto;
}

.doc-pane {
  width: 70%;
  margin: 50px auto;
}

.set-role {
  padding-top: 25px;
} 

#docmapp__sidebar {
  background-color: #000;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0; left: 0; bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 20px 20px 20px 6px;
}

ul li a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
}

ul li a:hover,
ul li a.active {
  color: #888;
}

.docmApp__wrapper {
  margin-top: -46px;
}

button.action {
  color: #fff;
  background-color: #0B3B17;
}

button.action:hover {
  color: #0B3B17;
  background-color: #81F781;
}

button.change-view {
  color: #0B3B17;
  background-color: #E6E6E6;
}


