<div data-ng-init="loadPageData();">
  

  <div id="docmapp__sidebar">
    <div layout-padding layout="column" style="color: #fff; margin-top: 100px;">
      <ul>
        <li>
          <a ng-click="state.go('user.createdoc');">
            <i class="fa fa-plus-circle"></i>
          </a>
          <md-tooltip md-direction="right">Add document</md-tooltip>
        </li>
        <li>
          <a ng-click="state.go('user.roles');">
            <i class="fa fa-plus-circle"></i>
          </a>
          <md-tooltip md-direction="right">Add role</md-tooltip>
        </li>
        <li>
          <a ng-click="state.go('user.profile');">
            <i class="fa fa-user"></i>
          </a>
          <md-tooltip md-direction="right">Profile</md-tooltip>
        </li>
        <li>
          <a ng-click="state.go('user.documents');">
            <i class="fa fa-file-text"></i>
          </a>
          <md-tooltip md-direction="right">View my document</md-tooltip>
        </li>
        <li>
          <a ng-click="state.go('user.home');">
            <i class="fa fa-book"></i>
          </a>
          <md-tooltip md-direction="right">View all documents</md-tooltip>
        </li>
      </ul>
    </div>
  </div>


  <md-content class="main">
    <md-content class="md-padding docmApp__wrapper" aria-label="{{doc.title}}">
      <h4 class="md-display-1">{{doc.title}}</h4>
      <div layout="column" ng-if="!editMode">
        <md-card>          
          <md-card-content>
            <h2 class="md-title">{{doc.title}}</h2>
            <p>
              {{doc.content}}
            </p>
            <p>
              <h6>Document Roles:</h6> {{doc.roles}}
            </p>
          </md-card-content>
        </md-card>
        <div layout class="md-padding" flex ng-if="canEdit">
          <h5 flex="15" class="set-role">Add role:</h5>
          <md-input-container flex="30">
            <label>Role</label>
            <md-select ng-model="selectedRole" aria-label="Roles">
              <md-option ng-repeat="role in roles" value="{{role.title}}">
                {{role.title}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-fab md-mini" ng-disabled="!selectedRole" title="Add Role" ng-click="addRole(selectedRole)">+</md-button>
        </div>
      </div>
      <div layout="column" ng-if="editMode">
        <form name="docForm">
          <div layout="column" layout-padding>
            <md-input-container flex>
              <input ng-model="doc.title" placeholder="Title (required)" ng-required="true">
            </md-input-container>
            <textarea flex="65" row="4" ng-model="doc.content" placeholder="Content (required)" ng-required="true"></textarea>
          </div>
        </form>
      </div>
      <section layout="row" layout-sm="column" layout-wrap ng-if="canEdit" layout-padding layout-align="end center">
        <md-button class="action" ng-if="!editMode" ng-click="enableEditMode(true)">Edit Document</md-button>
        <md-button class="change-view" ng-if="editMode" ng-click="enableEditMode(false)">Cancel Edit</md-button>
        <md-button class="action" ng-if="editMode" ng-disabled="docForm.$invalid" ng-click="saveDocument();">Save</md-button>
        <md-button class="change-view" ng-if="!editMode" ng-click="deleteDocument()">Delete Document</md-button>
      </section>
    </div>
    </md-content>
  </md-content>
</div>
