<md-content class="login">
  <md-card  layout-padding layout="column" class="login-card signup-card">
    <h4 class="md-display-1" style="font-size: 28px">Sign up</h4>
    <form name="signupForm" id="form__edit" layout="column">

      <md-content layout-padding layout="row">
        <md-input-container flex>
          <label>Username (required)</label>
          <input ng-model="newUser.username" ng-required="true">
        </md-input-container>
        <md-input-container flex>
          <label>Email (required)</label>
          <input ng-model="newUser.email" type="email" ng-required="true">
        </md-input-container>
      </md-content>

       <md-content layout-padding layout="row">
        <md-input-container flex>
          <label>Firstname</label>
          <input ng-model="newUser.firstname">
        </md-input-container>
        <md-input-container flex>
          <label>Lastname</label>
          <input ng-model="newUser.lastname">
        </md-input-container>
      </md-content>


       <md-content layout-padding layout="row">
        <md-input-container flex>
          <label>Password (required)</label>
          <input ng-model="newUser.password" type="password">
        </md-input-container>
        <md-input-container flex>
          <md-button class="action" ng-disabled="signupForm.$invalid" ng-click="signUp()">Sign up</md-button>
        </md-input-container>
      </md-content>


      <!-- <md-input-container flex>
        <input ng-model="newUser.username" placeholder="Username (required)" ng-required="true">
      </md-input-container>
      <md-input-container flex>
        <input ng-model="newUser.firstname" placeholder="Firsname">
      </md-input-container>
      <md-input-container flex>
        <input ng-model="newUser.lastname" placeholder="Lastname">
      </md-input-container>
      <md-input-container flex>
        <input ng-model="newUser.email" type="email" placeholder="Email (required)" ng-required="true">
      </md-input-container>
      <md-input-container flex>
        <input ng-model="newUser.password" type="password" placeholder="Password (required)" ng-required="true">
      </md-input-container>
      <md-button class="md-raised" ng-disabled="signupForm.$invalid" ng-click="signUp()">Sign up</md-button> -->
    </form>
    <a ui-sref="user.login">Already have an account?</a>
  </md-card>
</md-content>
